<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep Internetowy</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin-top: 30px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        .user-info {
            margin-bottom: 20px;
        }

        .user-info p {
            margin: 0;
        }

        .user-info a {
            margin-left: 0px;
        }

        .product-info {
            margin-top: 10px;
        }

        .product-info strong {
            display: block;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .product-info p {
            margin: 0;
        }

        .product-info a {
            display: block;
            margin-top: 10px;
        }

        .search-bar {
            margin-bottom: 20px;
        }

        .search-bar input[type="text"] {
            padding: 10px;
            font-size: 16px;
        }

        .search-bar input[type="submit"] {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Witaj w naszym sklepie internetowym</h1>

    <% if (user) { %>
        <div class="user-info">
            <p>Witaj, <%= user.nick%>!</p>
            <% if (user.typ==="admin") { %>
                <p><a href="/admin">Strona administracyjna</a></p>
            <% } %>
            <a href="/koszyk">Koszyk</a>
            <a href="/logout">Wyloguj się</a>
        </div>
    <% } else { %>
        <div class="user-info">
            <a href="/login">Zaloguj się</a>
            <a href="/register">Zarejestruj się</a>
        </div>
    <% } %>

    <div class="search-bar">
        <form action="/search" method="GET">
            <input type="text" name="search" placeholder="<%= placeholder %>">
            <input type="submit" value="Szukaj">
        </form>
    </div>

    <h2>Produkty w sklepie</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <div class="product-info">
                    <strong><%= product.nazwa %></strong>
                    <p><%= product.opis %></p>
                    <p>Cena: <%= product.cena %> PLN</p>
                  
                    <% if (user) { %>
                        <a href="/addToCart/<%= product._id %>">Dodaj do koszyka</a>
                    <% } %>
                </div>
            </li>
        <% }); %>
    </ul>
</body>
</html>
